/**********************************
PAGE: CONTACT
***********************************/
  .wrapperServicios {
    width: 100%;
    padding: 0% 5% 0%;
  }
  
  .wrapperContacto {
    width: 100%;
    padding: 0% 5% 0%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    padding: 10px;
    margin: 0 10% 0 ;
  }
  
  .contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
  }
  
  .contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
  }
  
  .contact-info li.phone a {
    background-image: url("../img/phone.png");
  }
  
  .contact-info li.mail a {
    background-image: url("../img/mail.png");
  }
  
  .contact-info li.twitter a {
    background-image: url("../img/twitter.png");
  }

/*tablet*/
@media all and (min-width: 680px) {
  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    margin: 0 10% 0 ;
  }
}

/*desktop*/
@media (min-width: 920px) {
  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    margin: 0 10% 0 ;
  }
}