* { box-sizing: border-box; }

body { font-family: sans-serif; }


.carousel-cell {
  width: 270px;/*1080/4*/
  height: 480px; /* 1920/4*/
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
}
