<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DavoH | App Developer</title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/responsive.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="index.html">
          <h1>DavoH</h1>
          <h2>Apps & Games</h2>
        </a>

        <input type="checkbox" id="click" />
        <label for="click" class="menu-btn">
          <i class="fas fa-bars"></i>
        </label>
        <ul>
          <li><a href="index.html">Mis Apps</a></li>
          <li><a href="acerca.html">Acerca de</a></li>
          <li><a href="contacto.html" class="selected">Contacto</a></li>
        </ul>
      </nav>
    </header>

    <div id="wrapperBody">
      <section id="wrapperServicios">
        <h3>Servicios que ofrezco:</h3>
        <p>• Desarrollo de aplicación nativa para dispositivos Android</p>
        <p>• Desarrollo de aplicaciones en el software Unity 3D</p>
        <p>• Programación de microcontroladores</p>
        <p>• Desarrollo de paginas web</p>
      </section>

      <section id="wrapperContacto">
        <h3>Detalles de contacto</h3>
        <ul class="contact-info">
          <li class="mail">
            <a href="mailto:davoh.dev@gmail.com">davoh.dev@gmail.com</a>
          </li>
          <li class="twitter">
            <a href="http://twitter.com/intent/tweet?screen_name=DavoH_Dev"
              >@DavoH_Dev</a
            >
          </li>
        </ul>
      </section>

      <footer>
        <a href="https://twitter.com/DavoH_Dev"
          ><img
            src="../img/twitter-wrap.png"
            alt="Twitter Logo"
            class="social-icontwitter"
        /></a>
        <a href="https://www.facebook.com/DavoH-380145409224919"
          ><img
            src="../img/facebook-wrap.png"
            alt="Facebook Logo"
            class="social-iconfacebook"
        /></a>
        <p>&copy;2020 DavoH</p>
        <p>&copy;DavoH Apps & Games</p>
      </footer>
    </div>
  </body>
  <script src="../js/floatnav.js"></script>
</html>
